body{
    margin: 0;
    padding: 0;
    max-width: 1688px;
    min-width:1000px;
    min-height: 800px;
    max-height: 2000px;
    text-align:center;
    background-image: url("/outside_war_exploded/statics/img/notify.jpg");
}
.box{
    width: 1000px;
    margin: 5px auto;
    height: 800px;
    background-color: #e8f5f5;
    opacity: 0.95;
}
.left{
    width: 140px;
    min-width: 140px;
    background-color: white;
    height: 600px;
    float: left;
}
.right{
    margin-left: 10px;
    width: 800px;
    float: left;
}
.right .title{
    width: 100%;
    color: black;
    text-align: center;
    height: 54px;
    box-sizing: border-box;
    padding-top: 14px;
    background-color: white;
    border-bottom: 1px solid #d1e5dc;
    border-radius: 5px;
}
.main-content{
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: white;
    border-left: 1px solid #eee;
    min-height: 600px;
    max-height: 1500px;
    overflow-y: scroll;
}
.left-box{
    width: 65px;
    float: left;
}
.center-box{
    width: 75%;
    float: left;
    text-align: left;

}
.line{
    height: 15px;
    font-size: 14px;
    margin-bottom: 10px;

}
.notify-card-name{
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    float: left;
}
.right-box{
    width: 80px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    color: #636363;
    float: right;
}
.notify-card{
    width: 100%;
    height: 94px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #d1e5dc;
}
a{
    text-decoration: none;
    color: black;
}
.left .title{
    color: black;
    text-align: center;
    height: 65px;
    box-sizing: border-box;
    padding-top: 20px;
    border-bottom:1px solid #d1e5dc;
    border-radius: 5px;
}