
.feed-carder{
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    margin-top: 20px;
}
.feed-carder .left{
    width: 88px;
    background-color: #eefb2b;
    float: left;
}
.feed-carder .feed-main-content{
    width: 540px;
    background-color: #6bd787;
}
.user-headimg{
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 24px;
    left: 24px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}