
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size:cover;
}

.form-container {
    display: block;
    width: 500px;
    margin: 60px auto;
    text-align: left;
}
.title-line {
    width: 980px;
    height: 28px;
    margin: 30px auto;
    border-bottom: 1px solid #003a7733;
    margin-bottom: 28px;
    text-align: center;
}

.title-line .tit {
    height: 56px;
    line-height: 56px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 40px;
    text-align: center;
}

input {
    box-sizing: border-box;
    height: 55px;
    display: inline-block;
    border: 2px solid #fffdfb00;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
    -webkit-transition: .2s;
    transition: .2s;
    background-color:#00000036;
}
.input-100{
    width: 100%;
}
#button:hover,#btn_yzm:hover{
    cursor: pointer;
}
.input-4{
    width: 65%;
}
.input-5{
    width: 34%;
    color: black;
}
input::-webkit-input-placeholder{
    color: #fbf0ff;
}
input:focus {
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.progress-bar_wrap {
    width: 300px;
    height: 5px;
    background: #F6F6FA;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
}



.form-1 .progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 33.33%;
    float: left;
    visibility: hidden;
    -webkit-transition: background-color .2s, visisility .1s;
    transition: background-color .2s, visisility .1s;
}

.form-1 .active {
    visibility: visible;
}

.progress-bar_item-1 {

}

.progress-bar_item-2 {

}

.progress-bar_item-3 {

}

.progress-bar_text {
    display: inline-block;
    color: #aaa;
    margin-left: 5px;
    -webkit-transition: .2s;
    transition: .2s;
}